.box-nav {
    background-color: #D5D5D5;
    width: 356px;
    box-sizing: border-box;
    position: absolute;
    left: 68px;
    top: 40px;
    visibility: hidden;
}

.box-nav .categories {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    line-height: 20px;
    color: #F7F7F7;
    padding: 15px 50px;
}

.box-nav .categories::after {
    content: url('https://api.iconify.design/ant-design/down-outlined.svg?color=%23f7f7f7&height=14&rotate=270deg');
}

.box-nav .categories:hover {
    background-color: #F03D3F;
}