.box-text {
    width: 670px;
    height: 310px;
    padding: 45px 12px 12px 20px;
    background-color: #F7F7F7;
    box-sizing: border-box;
    position: relative;
}

.box-text .main-title {
    margin-bottom: 30px;
}

.box-text .main-subtitle {
    margin-bottom: 94px;
}

.box-text .img {
    position: absolute;
    right: 9px;
    top: 66px;
}

.box-text .img2 {
    position: absolute;
    right: 18px;
    top: 66px;
}

.box-text.-small {
    width: 325px;
    padding: 45px 18px 12px 10px;
}