.box-prod {
    display: flex;
    align-items: center;
    width: 256px;
    height: 300px;
    background-color: #F7F7F7;
    position: relative;
}

.box-prod .img {
    position: absolute;
    left: 45px;
    top: 30px;
}

.box-prod .img2 {
    position: absolute;
    left: 38px;
    top: 35px;
}

.box-prod .main-icon {
    position: absolute;
    left: 234px;
    top: 8px;
    cursor: pointer;
}

.box-prod .main-price {
    position: absolute;
    left: 15px;
    top: 265px;
}

.box-prod .main-percentage {
    position: absolute;
    left: 188px;
    top: 226px;
}

.box-prod.-column {
    flex-direction: column;
}

.box-prod .prod-description {
    position: absolute;
    left: 5px;
    top: 212px;
}

.box-prod .product2 {
    position: absolute;
    top: 45px;
    left: 5px;
}

.box-prod .product3 {
    position: absolute;
    top: 45px;
    left: 35px;
}

.box-prod .product4 {
    position: absolute;
    top: 25px;
    left: 65px;
}

.box-prod .product5 {
    position: absolute;
    top: 25px;
    left: 28px;
}