.box-items {
    width: 688px;
    padding: 33px 57px 33px 40px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    position: relative;
    background-color: #fff;
    top: 224px;
    left: 228px;
    z-index: 2;
    text-align: start;
    visibility: hidden;
}

.box-items .wrapper {
    display: grid;
    grid-template-columns: repeat(4, max-content);
}

.box-items .main-title {
    margin-bottom: 23px;
}

.box-items::before {
    content: '';
    width: calc(100% - 100px);
    border: 1px solid #3E3E3E;
    position: absolute;
    top: 65px;
    left: 40px;
}

.box-items .wrapper-items {
    margin-right: 10px;
    margin-bottom: 10px;
}