.main-action {
    display: flex;
    color: #D5D5D5;
    font-weight: 400;
    font-size: 12px;
}

.main-action.-arrow {
    cursor: pointer;
}

.main-action.-arrow::after{
    content: url('https://api.iconify.design/ant-design/down-outlined.svg?color=%23d5d5d5');
    transform: translate(5px,3px);
}

.main-action .lang {
    height: 18px;
}