.main-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-left: 15px;;
    width: 310px;
    height: 230px;   
    background-color: #fff; 
}

.main-box .main-button:hover {
    background-color: #C4C4C4;
    color: #FFF;
}