.main-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-left: 15px;;
    width: 310px;
    height: 230px;   
    background-color: #fff;
    color: #000; 
}