.main-search {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    background-color: #F7F7F7;
    border-radius: 3px;
}

.main-search .search {
    padding: 10px 270px 13px 16px;
    width: 350px;
    height: 17px;
}

.main-search::after {
    content: url('https://api.iconify.design/ei/search.svg?color=%238d8b8b&height=25');
    margin-right: 10px;
    cursor: pointer;
}

.main-search .search::placeholder {
    color: #8D8B8B;
    opacity: 1;
}
  
.main-search .search:-ms-input-placeholder {
color: #8D8B8B;
}