.wrapper-offer {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 32px;
    margin-bottom: 50px;
}

.wrapper-offer .full {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
}

.wrapper-offer .main-subtitle.-second::after {
    content: '12h: 45min: 06s';
    color: #F03D3F;
}