.wrapper-rating {
    display: flex;
    align-items: center;
    column-gap: 2px;
}

.wrapper-rating .main-subtitle {
    font-size: 9px;
    transform: translateX(4px);
}

.wrapper-rating .main-subtitle::before {
    content: url('https://api.iconify.design/ant-design/down-outlined.svg?color=%23c4c4c4&height=8');
    transform: translate(-4px, 2px);
    display: inline-block;
}